:root {
  --primary-color: #000000;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --link-color: #757575;
  --white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --bgd-color: #2f303a;
  --border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --grey-color: #afb1b8;
  --footer-icon-bgd: rgba(255, 255, 255, 0.1);
  --grey-dark-color: rgba(47, 48, 58, 0.8);
  --grey-light-color: rgba(255, 255, 255, 0.6);
  --grey-medium-color: rgba(255, 255, 255, 0.3);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --grey-placeholder-color: rgba(117, 117, 117, 0.5);
  --gradient-color: rgba(47, 48, 58, 0.4);
  --grey-modal-color: rgba(0, 0, 0, 0.1);
  --grey-input-color: rgba(33, 33, 33, 0.2);

  --roboto: 'Roboto', sans-serif;
  --raleway: 'Raleway', sans-serif;
}
